<div class="wrapper">
  <div class="content">
    <h1 class="avaliable">
      Brocolli
    </h2>
  </div>
  <h2>
  <div id="countdown">
      Time left!
  </div>
  </h2>
</div>
<div id="animation">
</div>


<%= javascript_include_tag "countdown.min.js" %>
<script>
var timerId = countdown( new Date(2016, 3, 20), function(ts) {
    document.getElementById('countdown').innerHTML = ts.toHTML("strong"); }, countdown.SECONDS);
  countdown.setLabels(null,null,',');
  window.clearInterval;
</script>
<%= javascript_include_tag "three.min.js" %>
<%= if rand(0...2) == 0
      javascript_include_tag 'script.js'
    else 
      javascript_include_tag 'script_.js'
    end   %>
